body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#icons {
  max-width: 300px;
  display: flex;
  justify-content: space-around;
}

#formSpace.field {
  display: flex;
  justify-content: space-between;
}

#formEmail {
  display: flex;
  flex-direction: column;
}

.modalContent {
  display: flex;
  flex-direction: column;
  margin: 0 60px;
}

.ui.modal.transition.visible.active {
  width: 650px;
}

.ui.embed {
  margin-bottom: 15px;
}

.projectGrid {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 5vw;
}

#projectHeader {
  text-align: center
}

#projectCard {
  margin: 15px;
  background-color: teal;
  width: 20em;
  height: 13em;
  overflow: hidden;
  color: rgba(0, 0, 0, 0);
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

#projectCard:hover {
  color: rgba(0, 0, 0, 1)
}
