body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#icons {
  max-width: 300px;
  display: flex;
  justify-content: space-around;
}

#formSpace.field {
  display: flex;
  justify-content: space-between;
}

#formEmail {
  display: flex;
  flex-direction: column;
}

.modalContent {
  display: flex;
  flex-direction: column;
  width: 70vw;
  min-width: 290px;
  margin: 0 5vw;
}

.ui.modal.transition.visible.active {
  width: 85vw;
  min-width: 350px;
}

.ui.embed {
  margin-bottom: 15px;
}

.projectGrid {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 5vw;
}

#project.ui.vertical.segment {
  padding-top: 51px !important;
}

#projectHeader {
  text-align: center
}

#projectCard {
  background-image: url('profile.jpeg');
  border-radius: 25px;
  margin: 15px;
  width: 20em;
  min-width: 17em;
  height: 13em;
  overflow: hidden;
  background-color: rgba(0, 128, 128, 0.575);
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

#projectCard:hover {
  background-image: none;
  background-color: teal;
}

#projectCardContent {
  text-align: center;
  opacity: 0;
  font-size: 1.05em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#projectCardContent:hover {
  opacity: 1;
  font-size: 1em;
}

#PJpadding {
  padding: 20px;
}

#skill {
  background-image: url('profile.jpeg');
  background-attachment: fixed;
}

#skillContent {
  padding-bottom: 61px;
}


#cssAnimation {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: absolute;
  top: 11em;
	left: 50%;
  width: 42em;
  min-width: 25em;
	margin: 0 0 0 -20em;
}

span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255,255,255,.5);

  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;

  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
}


@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}
